.loginScreen {
  position: relative;
  height: 100%;
  background: url("https://cdn.mos.cms.futurecdn.net/98GnqFKaUMYU3GG5HxhLWZ.jpg")
    center no-repeat;
  background-size: cover;
}

/* https://cdn.mos.cms.futurecdn.net/98GnqFKaUMYU3GG5HxhLWZ.jpg */

.loginScreen__logo {
  position: fixed;
  left: 0;
  width: 120px;
  object-fit: contain;
  padding-left: 20px;
  cursor: pointer;
  top: 10px;
  transition: transform 450ms;
}

.loginScreen__logo:hover {
  transform: scale(1.6);
}

.loginScreen__gradient {
  width: 100%;
  z-index: 1;
  height: 100vh;
  background-image: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.loginScreen__button {
  position: fixed;
  right: 20px;
  top: 20px;
  padding: 10px 20px;
  color: #fff;
  background-color: #e50914;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 500;
}

.loginScreen__body > h1 {
  font-size: 3.125rem;
  margin-bottom: 20px;
}

.loginScreen__body > h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 30px;
}

.loginScreen__body > h3 {
  font-size: 1.3rem;
  font-weight: 400;
}

.loginScreen__body {
  position: absolute;
  top: 30%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  z-index: 1;
  color: #fff;
  padding: 20px;
  left: 0;
  right: 0;
}

.loginScreen__input {
  margin-top: 20px;
}

.loginScreen__input > form > input {
  padding: 10px 20px;
  outline-width: 0;
  height: 40px;
  width: 30%;
  border: none;
  max-width: 600px;
  font-size: 1rem;
}

.loginScreen__getStarted {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #e50914;
  border: none;
  font-weight: 600;
  cursor: pointer;
  height: 62px;
  transition: all 0.5s ease;
}
.loginScreen__extras {
  margin-top: 200px;
  height: 20vh;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  border-bottom: 10px solid rgb(43, 43, 43);
  padding-bottom: 200px;
}

.loginScreen__section {
  margin-top: 200px;
  height: 20vh;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  border-bottom: 10px solid rgb(43, 43, 43);
  padding-bottom: 200px;
}
.loginScreen__section > img {
  width: 500px;
  margin-right: 100px;
}

.loginScreen__view {
  margin-right: 200px;
  max-width: 500px;
  text-align: left;
}

.loginScreen__view > h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.loginScreen__view > h2 {
  font-size: 1.5rem;
  font-weight: 200;
}

.loginScreen__faqSection {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
}

.loginScreen__faqSection > h1 {
  font-size: 3rem;
}

.loginScreen__faqContainer {
  margin-top: 100px;
  width: 40vw;
  height: fit-content;
}

.loginScreen__questionActual {
  height: 80px;
  display: flex;
  justify-content: space-between;
  background-color: #303030;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px 50px;
  cursor: pointer;
}

.loginScreen__questionActual > h2 {
  font-size: 1.7rem;
  font-weight: 300;
}

.loginScreen__questionActual > .MuiSvgIcon-root {
  font-size: 36px !important;
}

.loginScreen__readyToWatchContainer {
  padding: 100px 0;
}

.loginScreen__readyToWatchContainer > h4 {
  margin-bottom: 20px;
}

.loginScreen {
  position: relative;
  height: 100%;
  background: url("https://assets.nflxext.com/ffe/siteui/vlv3/757ab38f-5d08-40bc-b3eb-eaba63ed8203/93c34f94-56c8-40a7-8b2e-b4aac6427977/GB-en-20210125-popsignuptwoweeks-perspective_alpha_website_medium.jpg")
    center no-repeat;
  background-size: cover;
}
.loginScreenLogo {
  position: fixed;
  left: 0;
  width: 150px;
  padding-left: 20px;
  object-fit: contain;
}
.loginScreenButton {
  position: fixed;
  right: 20px;
  top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #e50914;
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 0.3s ease;
  border-radius: 5px;
}
.loginScreenGradient {
  width: 100%;
  height: 100vh;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0.3) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}
.loginScreenBody {
  z-index: 1;
  color: #fff;
  padding: 20px;
  position: absolute;
  top: 30%;
  text-align: center;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  left: 0;
  right: 0;
}
.loginScreenBody > h1 {
  font-size: 3.125rem;
  margin-bottom: 20px;
}
.loginScreenBody > h2 {
  font-size: 1.5rem;
  margin-bottom: 30px;
  opacity: 0.8;
}
.loginScreenBody > h3 {
  opacity: 0.7;
  font-size: 0.9rem;
  margin: 20px 0;
}
.loginScreenInput > form > input {
  padding: 10px 20px;
  outline-width: 0;
  height: 60px;
  width: 30%;
  border: none;
  max-width: 600px;
  font-size: 1rem;
}
.loginScreenGetStarted {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #e50914;
  border: none;
  font-weight: 600;
  cursor: pointer;
  height: 62px;
  transition: all 0.5s ease;
}
.loginScreenGetStarted:hover,
.loginScreenButton:hover {
  background-color: #bd2121;
}
@media (max-width: 782px) {
  .loginScreenBody > h1 {
    font-size: 2rem;
  }
  .loginScreenBody > h2 {
    font-size: 1.1rem;
  }
  .loginScreenInput > form > input {
    width: 50%;
  }
}
@media (max-width: 453px) {
  .loginScreenInput > form > input {
    width: 50%;
  }
  .loginScreenGetStarted {
    padding: 5px 10px;
    font-size: 0.8rem;
  }
}
.moreSignUpScreen {
  width: 100%;
  background-color: #000;
  height: fit-content;
  position: absolute;
  left: 0;
  top: 150%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 10px solid rgb(43, 43, 43);
}
.moreScreenSection {
  margin-top: 200px;
  height: 20vh;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  border-bottom: 10px solid rgb(43, 43, 43);
  padding-bottom: 200px;
}
.smallLoginScreenSection {
  margin-right: 200px;
  max-width: 500px;
  text-align: left;
}
.smallLoginScreenSection > h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}
.smallLoginScreenSection > h2 {
  font-size: 1.5rem;
  font-weight: 200;
}
.moreScreenSection > img {
  width: 500px;
  margin-right: 100px;
}
.faqSection {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
}
.faqSection > h1 {
  font-size: 3rem;
}
.faqContainer {
  margin-top: 100px;
  width: 40vw;
  height: fit-content;
}
.questionActual {
  height: 80px;
  display: flex;
  justify-content: space-between;
  background-color: #303030;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px 50px;
  cursor: pointer;
}
.questionActual > h2 {
  font-size: 1.7rem;
  font-weight: 300;
}
.questionActual > .MuiSvgIcon-root {
  font-size: 36px !important;
}
.loginScreenFooterInput {
  min-width: 500px;
  max-height: 40px;
}
.readyToWatchContainer {
  padding: 100px 0;
}
.readyToWatchContainer > h4 {
  margin-bottom: 20px;
}
.loginPageFooter {
  border-top: 10px solid rgb(43, 43, 43);
  width: 100%;
  padding: 100px 0 10px 0;
  color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loginPageFooter > h5 {
  font-size: 16px;
  margin-bottom: 20px;
  width: 40%;
  text-align: left;
}
.loginPageFooter > h5:hover {
  text-decoration: underline;
  cursor: pointer;
}
.loginScreenFooterRowContainer {
  width: 40%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.loginPageFooterLinkRow > p {
  cursor: pointer;
  margin-bottom: 5px;
  text-align: left;
}
.loginPageFooterLinkRow > p:hover {
  text-decoration: underline;
}
.loginPageLanguageSelection {
  width: fit-content;
  height: fit-content;
  border: 1px solid rgb(82, 82, 82);
  padding: 10px;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  transform: translateX(-300%);
}
.copyrightTextLoginPage {
  transform: translateX(-70%);
  margin-top: 20px;
}
