.loginScreen {
  position: relative;
  height: 100%;
  background: url("https://assets.nflxext.com/ffe/siteui/vlv3/757ab38f-5d08-40bc-b3eb-eaba63ed8203/93c34f94-56c8-40a7-8b2e-b4aac6427977/GB-en-20210125-popsignuptwoweeks-perspective_alpha_website_medium.jpg")
    center no-repeat;
  background-size: cover;
}
.loginScreenLogo {
  position: fixed;
  left: 0;
  width: 150px;
  padding-left: 20px;
  object-fit: contain;
}
.loginScreenButton {
  position: fixed;
  right: 20px;
  top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #e50914;
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 0.3s ease;
}
.loginScreenGradient {
  width: 100%;
  height: 100vh;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0.3) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}
.loginScreenBody {
  z-index: 1;
  color: #fff;
  padding: 20px;
  position: absolute;
  top: 30%;
  text-align: center;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  left: 0;
  right: 0;
}
.loginScreenBody > h1 {
  font-size: 3.125rem;
  margin-bottom: 20px;
}
.loginScreenBody > h2 {
  font-size: 1.5rem;
  margin-bottom: 30px;
  opacity: 0.8;
}
.loginScreenBody > h3 {
  opacity: 0.7;
  font-size: 0.9rem;
  margin-top: 10px;
}
.loginScreenInput > form > input {
  padding: 10px;
  outline-width: 0;
  height: 40px;
  width: 30%;
  border: none;
  max-width: 600px;
}
.loginScreenGetStarted {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #e50914;
  border: none;
  font-weight: 600;
  cursor: pointer;
  height: 42px;
  transition: all 0.5s ease;
}
.loginScreenGetStarted:hover,
.loginScreenButton:hover {
  background-color: #bd2121;
}
@media (max-width: 782px) {
  .loginScreenBody > h1 {
    font-size: 2rem;
  }
  .loginScreenBody > h2 {
    font-size: 1.1rem;
  }
  .loginScreenInput > form > input {
    width: 50%;
  }
}
@media (max-width: 453px) {
  .loginScreenInput > form > input {
    width: 50%;
  }
  .loginScreenGetStarted {
    padding: 5px 10px;
    font-size: 0.8rem;
  }
}
