.planScreen__plan {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  opacity: 0.8;
}

.planScreen__plan:hover {
  opacity: 1;
}

.planScreen__plan > button {
  padding: 7px 15px;
  font-size: 0.8rem;
  color: #fff;
  background-color: #e50914;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.planScreen__plan:hover {
  transform: scale(1.2);
  opacity: 1;
}

.planScreen__plan--disabled > button {
  background-color: rgb(9, 255, 0) !important;
  color: black;
}

.planScreenPlan {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  opacity: 0.8;
}
.planScreenPlan:hover {
  opacity: 1;
}
.planScreenPlan > button {
  padding: 10px 20px;
  color: #fff;
  font-size: 1rem;
  background-color: #e50914;
  font-weight: 600;
  border: none;
  outline: none;
  cursor: pointer;
}
.planDisabled {
  pointer-events: none;
  background-color: #535353 !important;
}
.noNav {
  display: none;
}
