.banner {
  height: 900px;
  position: relative;
  color: #fff;
  object-fit: contain;
}
.banner-contents {
  margin-left: 30px;
  padding-top: 140px;
  height: 190px;
}
.bannerTitle {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}
.bannerDescription {
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 1.2rem;
  max-width: 360px;
  height: 80px;
}
.banner--fadeBottom {
  height: 7.4rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
  width: 100%;
  margin-top: 580px;
}
.bannerButton {
  cursor: pointer;
  color: #fff;
  border: none;
  outline: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding: 0.5rem 2rem;
  margin-right: 1rem;
  background-color: rgba(51, 51, 51, 0.5);
  height: 40px;
  transition: all 0.5s ease;
}
.bannerButton:hover {
  color: #000;
  background-color: #fff;
}
@media (max-width: 530px) {
  .bannerTitle {
    font-size: 1.7rem;
  }
  .bannerDescription {
    font-size: 0.8rem;
  }
  .banner {
    height: 100vh;
  }
  .banner--fadeBottom {
    margin-top: 610px;
  }
  .banner-contents {
    margin-top: 400px;
  }
}
