.row {
  color: #fff;
  margin-left: 20px;
  margin-top: 20px;
}
.rowPosters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 30px;
}
.rowPoster {
  max-height: 200px;
  object-fit: contain;
  margin-right: 20px;
  width: 100%;
  transition: transform 0.35s;
  cursor: pointer;
  margin: 20px 0 20px 20px;
}
.rowPosters::-webkit-scrollbar {
  border: 1px solid rgb(90, 90, 90);
  border-left: 0;
  border-right: 0;
}
.rowPoster:hover {
  transform: scale(1.35);
  opacity: 1;
  z-index: 10;
}
.rowPosterLarge {
  max-height: 500px;
  transition: transform 0.45s;
  cursor: pointer;
  margin: 50px 0 50px 20px;
}
.rowPosterLarge:hover {
  transform: scale(1.2);
  opacity: 1;
}
@media (max-width: 530px) {
  .rowPosters::-webkit-scrollbar {
    display: none;
  }
}
